:host {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: Arial;

  .user-input,
  .button,
  .greeting {
    margin: 2rem;
  }

  .input-kotlin,
  .user-input {
    display: flex;
    flex-direction: column;
  }
}
